Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/ThirdPartyContent/DreamscapeSeries/SharedResources/Textures/
Content/ThirdPartyContent/DreamscapeSeries/DreamscapeMeadows/Textures/
Content/ThirdPartyContent/DreamscapeSeries/DreamscapeMeadows/Materials/

Content/DreamscapeSeries/DreamscapeMeadows/Textures/
Content/DreamscapeSeries/DreamscapeMeadows/Materials/
Content/DreamscapeSeries/SharedResources/Textures/

Content\FXVarietyPack\Textures